header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: #dbdbdb;
}

.tarjetita1 {
  background-color: #cfeece;
  border: 2px solid transparent; /* Ajuste de borde */
  text-align: justify;
  margin: 0 5%; /* Margen responsivo */
  font-size: 18pt;
  box-sizing: border-box;
  color: black;
}

.parrafo_descripcion {
  width: 100%;
  font-size: 1.25rem; /* Ajuste de tamaño de fuente */
  font-style: italic;
  color: black;
  text-align: justify;
  margin-block: 5px;
  padding: 5px;
}

/* Mis trabajos */
#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */
#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  header img {
    min-height: 200px; /* Ajustar altura en pantallas pequeñas */
  }

  h1 {
    font-size: 2rem; /* Tamaño de fuente más pequeño */
  }

  .tarjetita1 {
    margin: 0 10%; /* Mayor margen en pantallas pequeñas */
  }

  .parrafo_descripcion {
    font-size: 1rem; /* Tamaño de fuente más pequeño */
  }

  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem; /* Tamaño de fuente aún más pequeño */
  }

  .tarjetita1 {
    margin: 0 5%; /* Ajuste de margen */
  }

  .parrafo_descripcion {
    font-size: 0.9rem; /* Ajuste de tamaño de fuente */
  }
}

/* Footer */
footer {
  background-color: #343a40; /* Color de fondo */
  padding: 20px 0; /* Espaciado vertical */
}

footer .container {
  display: flex;
  flex-direction: column; /* Colapsar columnas en móvil */
  align-items: center; /* Centrar contenido */
}

footer .row {
  width: 100%; /* Ocupa todo el ancho */
  text-align: center; /* Centrar texto */
}

footer p {
  margin: 0; /* Eliminar margen */
  font-size: 1rem; /* Tamaño de fuente */
}

footer a {
  margin: 0 10px; /* Espaciado entre íconos */
}

footer a i {
  font-size: 1.5rem; /* Tamaño de íconos */
}

@media (max-width: 576px) {
  footer .container {
    flex-direction: column; /* Asegurar apilamiento vertical */
  }

  footer p {
    font-size: 0.9rem; /* Tamaño de fuente más pequeño en móvil */
  }

  footer a i {
    font-size: 1.25rem; /* Tamaño de iconos más pequeño */
  }
}

/* Ajusta el desplazamiento del scroll */
:target {
  scroll-margin-top: 50px; 
}

footer a {
  color: inherit; 
  text-decoration: none; 
}

footer a:hover {
  color: #dbdbdb; 
}